<div class="row fs-4 d-flex align-items-center sticky-top bg-light">
  <div class="col-4">
    <div class="row">
      <div class="col-4 d-flex justify-content-center">Team</div>
      <div class="col-4 d-flex justify-content-center">Line</div>
      <div class="col-4 d-flex justify-content-center">Win Pace</div>
      
    </div>
    
  </div>
  <div class="col-8">
    <div class="row">
      <% @enrollments.each do |enrollment| %>
        <div id="<%= enrollment.user.name.downcase %>" class="col overflow-hidden d-flex justify-content-center"><%= enrollment.user.name %></div>
      <% end %>
    </div>
  </div>
</div>
<%= render @season_lines %>
<div id="season-id" data-season-id="<%= active_season.id %>">
</div>
