<div class="sticky-top bg-white shadow-sm">
  <div class="offset-2 col-10 fs-1">
    My Picks
  </div>
</div>
<% @teams_by_division.each do |conference, division_hash| %>
  <div class="row">
    <div class="col-12 fs-1">
      <%= conference %>
    </div>
  </div>
  <% division_hash.each do |division_name, division_teams| %>
    <div class="row border-top border-bottom ">
      <div class="offset-1 col-11 fs-2">
        <%= division_name %>
      </div>
    </div>
    <%= render partial: "/picks/pick_forms", collection: @picks.where(teams: {id: division_teams.map(&:id)}), as: :pick, locals: { omit_pace: true } %>
  <% end %>
<% end %>
