<div class="col-12">
  <div class="row fs-3 d-flex align-items-center">
    <div class="col-1 d-flex justify-content-center">Team</div>
    <div class="col-1 d-flex justify-content-center">Line</div>
    <div class="col-1 d-flex justify-content-center">Win Pace</div>
    <div class="col-9">
      <div class="row">
        <% @enrollments.each do |enrollment| %>
          <div class="col d-flex justify-content-center"><%= enrollment.user.name %></div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render partial: "season_line", collection: @season_lines %>
</div>