<div class="row my-2">
  <div class="col-4">
    <div class="row">
      <%= render partial: "/shared/team_info", locals: { season_line: season_line, omit_pace: false } %>
    </div>
  </div>
  <div class="col-8" style="min-height: 100%;">
    <div class="row h-100 d-flex align-items-center">
      <div class="col ">
        <div class="row ">
          <% picks = season_line.picks.includes(:lock).joins(:user).merge(User.order(:name))%>
          <%= render picks %>
        </div>
      </div>
    </div>
  </div>
</div>
