<tr id="<%= dom_id(season_line) %>">
  <td></td>
  <td></td>
  <td>
    <%= season_line.team.name %>
  </td>
  <td>
    <%= season_line.line %>
  </td>
  <td>
    <%= season_line.projected_wins %>
  </td>
</tr>