<div class="row d-flex align-items-center">
  <div class="fs-2 col-1 d-flex justify-content-center"><%= season_line.team.name %></div>
  <div class="fs-2 col-1 d-flex justify-content-center"><%= season_line.line %></div>
  <div class="fs-2 col-1 d-flex justify-content-center"><%= season_line.projected_wins %></div>
  <div class="col-9">
    <div class="row">
      <% picks = season_line.picks.includes(:lock).joins(:user).merge(User.order(:name))%>
      <%= render picks %>
    </div>
  </div>
</div>
