<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>These are the current over/under standings with scoring as such: </p>
      <ul>
        <li>-1 for an locked incorrect pick</li>
        <li>+0 for a incorrect pick</li>
        <li>+1 for a correct pick</li>
        <li>+2 for a locked correct pick</li>
      </ul>
    <h2 style="text-decoration: underline">Current Standings</h2>
    <ul style="list-style-type:none">
      <% @final_hash["standings"].each do |contestant, score| %>
        <li style="font-size: 20px"><%= contestant %> - <%= score %></li>
      <% end %>
    </ul>

    <p>
      <a href="https://xanadu-nba-production.herokuapp.com/">
        Click here to see the full Over/Under table
      </a>
    </p>
  </body>
</html>