<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello
    </p>

    <p>This is your weekly generated Xanadu NBA Over/Under standings update.  As a reminder our scoring is: </p>

    <ul style="list-style-type: none">
      <li>-1 for an locked incorrect pick</li>
      <li>+0 for a incorrect pick</li>
      <li>+1 for a correct pick</li>
      <li>+2 for a locked correct pick</li>
    </ul>

    <h3 style="text-decoration: underline">Current Standings</h3>

    <ul style="list-style-type:none">
      <% @final_hash["standings"].each do |contestant, score| %>
        <li><%= contestant %> - <%= score %></li>
      <% end %>
    </ul>

    <p>
      <a href="https://xanadu-nba-production.herokuapp.com/">
        Click here to see the full Over/Under table
      </a>
    </p>
  </body>
</html>